*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#0b1120;
  color:white;
  line-height:1.6;
}

.hero{
  text-align:center;
  padding:120px 20px;
}

.hero h1{
  font-size:60px;
}

.hero h2{
  color:#38bdf8;
}

section{
  padding:60px 10%;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  margin-top:20px;
}
